h2{
    animation: flash 1s linear infinite;
}

@keyframes flash {
    0% {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
    }
    
    
    100% {
      opacity: 1;
    }
  }




  
  .maho {
    animation: spin 1s linear infinite;
    /* text-align: center; */
    /* align-items: center; */
    /* width: 300px; */
    /* height: 300px; */
    /* margin: 0 auto; */
    /* margin-top: 140px; */
    border-radius: 50%;
    box-shadow: inset 0 0 50px #fff, inset 20px 0 60px violet, inset -20px 0 60px #0ff, inset 20px 0 300px violet, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 60px violet, 10px 0 60px #0ff;
}
  
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

div#jin {
    text-align: center;
}