.docomo {
    width: 200px;
    height: 150px;
    background-color: brown;
    margin: 30px;
    border: sandybrown;
    box-shadow: 10px 10px 10px 10px black;
    border-radius: 24px;
    font-size: 45px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.au {
    width: 200px;
    height: 150px;
    background-color: rgb(255, 108, 55);
    margin: 30px;
    box-shadow: 10px 10px 10px 10px black;
    border-radius: 24px;
    font-size: 45px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.softbank {
    width: 200px;
    height: 150px;
    background-color: white;
    margin: 30px;
    color: black;
    border-radius: 24px;
    box-shadow: 10px 10px 10px 10px black;
    font-size: 42px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.uq {
    width: 200px;
    height: 150px;
    background-color: rgb(255, 0, 170);
    margin: 30px;
    border-radius: 24px;
    box-shadow: 10px 10px 10px 10px black;
    font-size: 45px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.ymobile {
    width: 200px;
    height: 150px;
    background-color: rgb(255, 36, 36);
    margin: 30px;
    border-radius: 24px;
    font-size: 42px;
    box-shadow: 10px 10px 10px 10px black;
    text-align: center;
    color: white;
    font-weight: bold;
}

.docomo:hover{
    background-color: rgb(255, 136, 0);
    opacity: 0.5;
    cursor : pointer;
}

.au:hover{
    background-color: rgb(255, 136, 0);
    opacity: 0.5;
    cursor : pointer;
}

.softbank:hover{
    background-color: rgb(255, 136, 0);
    opacity: 0.5;
    cursor : pointer;
}

.uq:hover{
    background-color: rgb(255, 136, 0);
    opacity: 0.5;
    cursor : pointer;
}

.ymobile:hover{
    background-color: rgb(255, 136, 0);
    opacity: 0.5;
    cursor : pointer;
}

.category {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* background-image: url(../img/hakkou1.png); */
    width: 100%;
    height: 100%;
}


.titleDisplay {
    width: 800px;
    height: 548px;
    margin: 100px auto;
}

.titleText {
    color: white;
    text-align: center;
}

.omedeto {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin: 0px auto;
    color: white;
    width: 900px;
    height: 400px;
    position: relative;
    text-shadow: 5px 4px 3px #808
}

.omedeto p img{
    width: 100%;
    
}

.omePic{
    width: 900px;
    height: 400px;
    display: flex;
}
.omePic p img{
    width: 100%;
    height: 100%;
    
}
.omePic p{
    width: 450px;
    height: 320px;
}




.start h1{
    color: white;
    text-align: center;
    margin: 50px auto;
}

.start {
    text-align: center;
    z-index: 20;
    top: 40%;
    height: 800px;
    width: 800px;
}

.start h1{
    font-size: 70px;
}

/* button{
 font-size: 50px;
} */

.zannen{
    text-align: center;
    font-size: 50px;
    margin: 100px auto;
    color: white;
    width: 900px;
    height: 400px;
}

h2{
    font-size: 50px; 
    cursor: pointer;
}

#tickets {
    position: absolute;
    z-index: 10px;
    top: 0%;
    left: 0%;
    margin: 75px auto;
    width: 100%;
}

#fukubukuros {
    position: absolute;
    z-index: 20px;
    top: 34%;
    left: 31%;
    margin: 0 auto;
    width: 40%;
}

.top {
    margin-top: 450px;
}

.top1 {
    margin-top: 0px;
}