* {box-sizing: border-box;}



/* h1{
    color: white;
}

p{
    color: white;
} */

/* .window{
    
    background-color: green;
    width: 100vw;
    height: 100vh;
    
} */

.toumei{
    width: 100vw;
    height: 100vh;
}




.frame {
    background-image: url(../img/frame.png);
    background-size: 100% 100%;

    /* width: 900px; */
    height: 600px;
    /* margin: 103px auto; */

}

.frame img {
    width: 100%;
    height: 100%;
}

.textbox {
    /* margin-top: 0px; */
    padding-top: 1px;

}

.textQuestion {
    /* background-color: white; */
    width: 637px;
    height: 155px;
    margin: 50px auto;
    /* padding-top: 5px; */
    color: white;
}

/* .textQuestion:hover{
 background-color: red;
} */

.textAnser {
    
    /* flex-wrap: wrap; */
    /* background-color: red; */
    /* width: 599px;
    height: 335px; */
    margin: 0px auto;
    margin-top: 105px;
    font-size: 30px;
    color: white;
    /* padding-top: 0px; */
    /* bottom: 0px; */
    padding-top: -8px;
}

.aaa {
    display: flex;
    justify-content: space-between;
    margin: 0px 20% 0px 20%;
    /* width: 760px; */
    /* text-align: center; */
}

.bbb {
    display: flex;
    justify-content: space-between;
    margin: 93px 20% 0px 20%;
    /* width: 760px; */
    /* text-align: center; */
}


.anser1{
    /* background-color: white; */
    /* margin: 20px; */
    width: 250px;
    height: 80px;
    padding-top: 20px;
}



.anser2{
    /* background-color: white; */
    /* margin: 20px; */
    width: 239px;
    height: 80px;
    padding-top: 20px;
}

.anser3{
    /* background-color: white; */
    /* margin: 20px; */
    width: 250px;
    height: 80px;
    padding-top: 20px;
}

.anser4{
    /* background-color: white; */
    /* margin: 20px; */
    width: 239px;
    height: 80px;
    padding-top: 20px;
}

.anser2:hover{
    background-color: rgb(255, 136, 0);
    opacity: 0.5;
    cursor : pointer;
    }
.anser1:hover{
    background-color: rgb(255, 136, 0);
    opacity: 0.5;
    cursor : pointer;
}
.anser3:hover{
    background-color: rgb(255, 136, 0);
    opacity: 0.5;
    cursor : pointer;
}
.anser4:hover{
    background-color: rgb(255, 136, 0);
    opacity: 0.5;
    cursor : pointer;
}


.mahou {
    z-index: 1;
    animation: spin 50s linear infinite;
    /* text-align: center; */
    /* align-items: center; */
    /* width: 300px; */
    /* height: 300px; */
    /* margin: 0 auto; */
    /* margin-top: 140px; */
    border-radius: 50%;
    box-shadow: inset 0 0 50px #fff, inset 20px 0 60px violet, inset 0px 0 60px #0ff, inset 20px 0 300px violet, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 60px violet, 10px 0 60px #0ff;
    /* margin: 0 auto; */
    width: 450px;
    height: 450px;

}

.mahou img{
    width: 100%;
    height: 100%;
}

.stttt {
    position: relative;
    /* text-align: center; */
    /* left: 300px; */
    /* right: 200px; */
    width: 800px;
    height: 800px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    top: 0;
}





.mahou, .start {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%;
}


#fadeLayer {
    position:absolute;
    top:0px;
    left:0px;
  
    width:100%;
    height:100%;
  
    background-color:#000000;
    opacity:0.5;
    visibility:hidden;
    z-index:1;
    /* transition-duration: 2s; */
  }

  #maru {
    color: red;
    font-size: 185px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px -1px 0 #FFF, 0px 1px 0 #FFF, 0-1px 0 #FFF, -1px 0 0 #FFF, 1px 0 0 #FFF;
    position: fixed;
    top: 40%;
    left: 37%;
    /* right: 0; */
    /* bottom: 0; */
    /* margin: auto; */
    z-index: 20;
}

.help {
    display: flex;
    justify-content: space-around;
}

.help p {
    border: 1px aqua solid;
    border-radius: 200px;
    width: 120px;
    color: white;
    text-align: center;
    /* padding-top: 0px; */
    /* font-size: 17px; */
    background-color: #000000;
}

.help p img{
    width: 100%;
}

.fifty {
    font-size: 30px;
    padding-top: 27px;
    font-weight: bold;
    cursor: pointer;
}


/* .lifeline p img{
    width: 100%;
} */

#telefon{
    cursor: pointer;
}

#audiense{
    cursor: pointer;
}