.docomo {
    width: 200px;
    height: 150px;
    background-color: brown;
    margin: 30px;
    border: sandybrown;
    border-radius: 24px;
    font-size: 45px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.au {
    width: 200px;
    height: 150px;
    background-color: orangered;
    margin: 30px;
    border-radius: 24px;
    font-size: 45px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.softbank {
    width: 200px;
    height: 150px;
    background-color: black;
    margin: 30px;
    color: white;
    border-radius: 24px;
    font-size: 42px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.uq {
    width: 200px;
    height: 150px;
    background-color: pink;
    margin: 30px;
    border-radius: 24px;
    font-size: 45px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.ymobile {
    width: 200px;
    height: 150px;
    background-color: red;
    margin: 30px;
    border-radius: 24px;
    font-size: 42px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.docomo:hover{
    background-color: yellow;
}

.au:hover{
    background-color: yellow;
}

.softbank:hover{
    background-color: yellow;
}

.uq:hover{
    background-color: yellow;
}

.ymobile:hover{
    background-color: yellow;
}

.category {
    display: flex;
    flex-wrap: wrap;
    /* width: 500px; */
}


.titleDisplay {
    width: 900px;
    height: 400px;
    margin: 100px auto;
}

.titleText {
    color: white;
    text-align: center;
}

.omedeto{
    text-align: center;
    font-size: 50px;
    margin: 100px auto;
    color: white;
}

.start h1{
    color: white;
    font-size: 100px;
    text-align: center;
    margin: 100px auto;
}

.start{
    text-align: center;
    z-index: 20;
}

/* button{
 font-size: 50px;
} */

.zannen{
    text-align: center;
    font-size: 50px;
    margin: 100px auto;
    color: white;
}

h2{
    font-size: 50px; 
}